#pageHeading {
   color:#DDE3FD;
    
}

#pageTitle {
    font-size: 45px;
}

#fullSideBar {
    color:#DDE3FD;
    font-size: 24px;
   
}

.card-header, .card-footer{
    background-color: #0A2299 ;
}
body {
    background-image: url(../images/nasa-53884-unsplash.jpg)
}

#earthquakecard {
    background-color: #0A2299;
    color: #DDE3FD;
    opacity: 0.9;
}

#aiqcard {
    background-color: #0A2299;
    color: #DDE3FD;
   opacity: 0.9; 
   font-weight: bold;
}

#guardiancard {
    background-color: #0A2299;
    color: #DDE3FD;
   opacity: 0.9; 
   font-weight: bold;
} 


#city-choice {
    width: 50%;
    margin: 5px;
}

#select-city{
    margin: 5px;
}

#spacecard {
    opacity: 0.9; 
    font-weight: bold;
}

#potdcard {
    
    font-weight: bold;
}

#opening{
    opacity: 0.7; 
   font-weight: bold;
}

.btn{
    padding: 4px;
    margin: 5px;
    height: auto;
}

.mr-1{
    height: auto;
}